<% if message.room.is_private? %>
<div class="cont-<%=message.user.id%> strt">
  <div class="speech-wrapper">
    <div class="bubble msg-<%=message.user.id%>">
      <div class="txt">
         <%= markdown(message.body)%>
        <span class="timestamp"> <%= message.created_at.strftime("%H:%M")%></span>
      </div>
      <%= render "messages/attachments", message: message %>
    </div>
  </div>
</div>
<% else %>
<div class="cont-<%=message.user.id%> strt">
  <div class="speech-wrapper">
    <div class="bubble msg-<%=message.user.id%>">
      <div class="txt">
        <p class="name">
                  
          <%= render "messages/user_dropdown", user: message.user %>
        </p>
      <%= markdown(message.body)%>
        <span class="timestamp"><%= message.created_at.strftime("%H:%M")%></span>
      </div>

      <%= render "messages/attachments", message: message %>
    </div>
  </div>
</div>

<% end %>
