<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>
<%= audio_tag "discord.mp3", id: 'audio-tag' %>
<%= turbo_frame_tag "message_error" do %>
  <%= render 'shared/message_error' %>
<% end %>
    <% if @single_room %>
        <div class="room-header">
            <div>
            <%= link_to "", "/rooms", class:"bi bi-arrow-90deg-left back"%> 
               <%= image_tag(current_user.chat_avatar, class:'chat_pfp') %>
             <%= @user&.username || @single_room.name %>
            </div>
          <%= link_to "", call_user_path(user: @user), target: "_blank", class: "bi bi-camera-video-fill" %>
        </div>
        <%= turbo_stream_from @single_room %>
        <div id="messages" data-controller="scroll">
          <%= turbo_frame_tag "page_handler" %>
          <%= render "messages/pager", pagy: @pagy %>
          <div id="messages-container">
            <%= render @messages %>
          </div>
        </div>
        <%= render 'layouts/new_message_form' %>
 
    <% end %>
